params {
    outdir = 'outputs'
    publish_dir_mode = 'copy'
    ref = 'docs/sequence.fasta'
    sample_sheet = 'docs/sample_sheet.csv'
}

process {
    withName: 'before_trim' {
        publishDir = [
            path: "${params.outdir}/before_trim",
            mode: "copy"
        ]
    }

    withName: 'after_trim' {
        publishDir = [
            path: "${params.outdir}/after_trim",
            mode: "copy"
        ]
    }
    withName: 'TRIMMOMATIC' {
        publishDir = [
            path: "${params.outdir}/trimmomatic",
            mode: "copy"
        ]
    }

    withName: 'SNIPPY' {
        publishDir = [
            path: "${params.outdir}/snippy/snps",
            mode: "copy"
        ]
    }

    withName: 'SNIPPY_CORE' {
        publishDir = [
            path: "${params.outdir}/snippy/consesus",
            mode: "copy"
        ]
    }

     withName: 'SNP_SITES' {
        publishDir = [
            path: "${params.outdir}/snippy/phylo",
            mode: "copy"
        ]
    }

    withName: 'IQTREE' {
        publishDir = [
            path: "${params.outdir}/iqtree",
            mode: "copy"
        ]
    }
}


docker.enabled = true

