params {
    outdir = 'outputs'
    publish_dir_mode = 'copy'
    ref = 'docs/sequence.fasta'
    sample_sheet = 'docs/sample_sheet.csv'
    sraAccession = 'docs/accessions.txt' 
}

process {
    withName: 'ffq' {
        publishDir = [
            path: "${params.outdir}/reads",
            mode: "copy"
        ]
    }

    withName: 'MYKROBE_PREDICT' {
        publishDir = [
            path: "${params.outdir}/microbe",
            mode: "copy"
        ]
    }

    withName: 'ARIBA_RUN' {
        publishDir = [
            path: "${params.outdir}/ariba",
            mode: "copy"
        ]
    }

    withName: 'before_trim' {
        publishDir = [
            path: "${params.outdir}/before_trim",
            mode: "copy"
        ]
    }

    withName: 'after_trim' {
        publishDir = [
            path: "${params.outdir}/after_trim",
            mode: "copy"
        ]
    }
    withName: 'TRIMMOMATIC' {
        publishDir = [
            path: "${params.outdir}/trimmomatic",
            mode: "copy"
        ]
    }

    withName: 'SNIPPY' {
        publishDir = [
            path: "${params.outdir}/snippy/snps",
            mode: "copy"
        ]
    }

    withName: 'SNIPPY_CORE' {
        publishDir = [
            path: "${params.outdir}/snippy/consesus",
            mode: "copy"
        ]
    }

     withName: 'SNP_SITES' {
        publishDir = [
            path: "${params.outdir}/snippy/phylo",
            mode: "copy"
        ]
    }

    withName: 'IQTREE' {
        publishDir = [
            path: "${params.outdir}/iqtree",
            mode: "copy"
        ]
    }
}


docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'
conda.enabled = true


/*
========================================================================================
    Nextflow Metrics & Reports
========================================================================================
*/
timeline {
  enabled = true
  file    = "${params.outdir}/timeline.html"
}

report {
  enabled = true
  file    = "${params.outdir}/report.html"
}
trace {
  enabled = false
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.outdir}/trace.txt"
}